---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Azure AI Cookbook</h1>
			<p>
				Welcome to the unofficial Azure AI Cookbook. I plan to cook up
				plenty of recipes for you to follow and learn from. I hope you
				enjoy the content and find it useful.
			</p>
			<p>
				Pardon the dust, I'm just getting started. I'll be adding more
				content soon.
			</p>
			<p>
				In the meantime, check out my <a href="cookbook/blog">blog</a> page
				and please connect with me:
			</p>
			<ul>
				<li>
					Connect with me on <a
						href="https://linkedin.com/in/nicholasdbrady"
						>LinkedIn</a>
				</li>
				<li>
					Follow me on <a href="https://x.com/in/nicholasdbrady">X</a>
				</li>
				<li>
					Star my <a href="https://github.com/nicholasdbrady/"
						>Cookbook repo</a
					> on GitHub
				</li>
			</ul>
			<p>Learn it all!</p>
		</main>
		<Footer />
	</body>
</html>
